<!-- <section class="bg-7 h-300x main-slider pos-relative">
    <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
            <div class="dplay-tbl">
                <div class="dplay-tbl-cell center-text color-white pt-50">
                    <h3 class="mt-30 mb-15">{{event.name}}</h3>
            </div>
        </div>
    </div>
</section> -->

<section class="story-area left-text center-sm-text">
        <div class="container">
                <div class="row c_cloud_div" ng-init="initEditEventDetails()">
                    <h3 ng-if="eventId"> Edit Event</h3>
                    <h3 ng-if="!eventId"> Create New Event</h3>
    <div class = "col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12  c_concrete_div" style="margin-top: 15px;margin-bottom: 15px;margin-left: 0px;">
            <div class="row">
                <!-- EVENT NAME -->
                <div class="col-sm-6" style="text-align: center;margin-top: 40px;margin-bottom: 60px;">
                    <label>Event Name:</label>
                    <input type="text" class="form-control" ng-model="event.ename">
                    <label>Stadium Id:</label>
                    <input type="text" class="form-control" ng-model="event.locid">
                    <label>Event Date:</label>
                    <input type="date" class="form-control" ng-model="event.edate">
                    <label>Team 1 Id:</label>
                    <input type="number" class="form-control" ng-model="event.t1id">
                    <label>Team 2 Id:</label>
                    <input type="number" class="form-control" ng-model="event.t2id">
                    <label>Status:</label>
                    <select class="form-control" id="exampleFormControlSelect1" ng-model="event.status">
                      <option>pending</option>
                      <option>completed</option>
                      <option>canceled</option>
                    </select>
                    <label>Event Result:</label>
                    <select class="form-control" id="exampleFormControlSelect1" ng-model="event.result">
                      <option>-1 Pending</option>
                      <option>0 Draw</option>
                      <option>1 Team1</option>
                      <option>2 Team2</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12" style="margin-bottom:40px;">
                    <div class="col-sm-2">
                        <!-- <input type="button" ng-model="noOfChildren" name="addToCart"> -->
                         <button ng-if="eventId" ng-click="updateEvent()" class="appButton">Update</button> 
                         <button ng-if="!eventId" ng-click="updateEvent()" class="appButton">Create</button> 
                </div>
            </div>

        </div>
    </div>

</div>

        </div><!-- container -->
</section>